.navbar-smallscreen {
    display: none;  
    width: 40px;
    height: 40px;
    margin: 20px;
    transition:  .5s ease;
}

.smallscreen-overlay {
    position: fixed;
    top: 7%;
    left: 1px;
    right: 1px;
    transition:  .5s ease;
    flex-direction: column;
    z-index: 100;
    transition:  .5s ease;
}

.close-icon {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}

.smallscreen-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
    list-style: none;
    padding: 2rem;
    border-radius: 15px 0 15px 15px;
    background-color: white;
    z-index: 100;
    
}

.smallscreen-links li {
    padding: 5px;
}

.smallscreen-links li a {
    text-decoration: none;
    color: black;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }

    .navbar-smallscreen {
        display: inline-flex;
        border: none;
        background: none;
        font-size: 30px;
        color: rgb(29, 29, 29);
        margin-right: 20px;
    }
}