.navbar-smallscreen {
    display: none;  
    width: 40px;
    height: 100px;
    
    transition:  .5s ease;
}

.smallscreen-overlay {
    position: fixed;
    top: 0%;
    left: 0px;
    right: 0px;
    flex-direction: column;
    z-index: 100;
    transition:  .5s ease;
}

.close-icon {
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 5px;
}

.smallscreen-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    font-size: 2rem;
    list-style: none;
    padding:  60px  0 100%  10px;
    /* border-radius: 15px 0 15px 15px; */
    background-color: #1d2a3fef;
    z-index: 100;
    margin: 0;
    
}

.smallscreen-links li {
    padding: 5px;
}

.smallscreen-links li a {
    text-decoration: none;
    color: white;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }

    .navbar-smallscreen {
        display: inline-flex;
        border: none;
        background: none;
        font-size: 30px;
        color: rgb(29, 29, 29);
        margin-right: 20px;
    }
}